<%- include('./partials/header') %>
  <form>
    <input type="text" placeholder="search" name="search">
    <input type="submit" value="find trucks">
  </form>
  <div id="map"></div>
  <script>
    mapboxgl.accessToken = '<%= mapbox_token %>' 
    const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [-122.4194, 37.7749],
      zoom: 10
    });
    <% coordinates.forEach(coord => { %>
      new mapboxgl.Marker()
        .setLngLat([<%=coord[0]%>, <%=coord[1]%>])
        .addTo(map);
    <% }) %> 
  </script>
<%- include('./partials/footer') %>