<%- include('./partials/header') %>
    <div><%= filter %> </div>
    <% trucks.forEach( truck => { %>
        <div><%= truck.name %> - <%= truck.sells %></div>
    <% }) %>
<%- include('./partials/footer') %> 